@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button.secondary {
  @apply transition-colors relative inline-flex w-[calc(100%-3rem)] lg:w-fit items-center justify-center overflow-hidden rounded-md border border-stone-300 outline-none shadow-md bg-slate-100 text-stone-800 disabled:bg-slate-200 hover:bg-slate-200 active:bg-slate-200 focus:bg-slate-200 text-sm gap-x-1.5 px-3 py-1.5;
}

button.large {
  @apply bg-stone-800 shadow-sm text-stone-100
}

button.action {
  @apply bg-gradient-to-b from-slate-700 to-stone-900 text-stone-100 shadow-md border border-stone-700 rounded-lg py-2 px-10 mt-3 w-full;
}

ul.product-description {
  @apply flex flex-col gap-4;
}

ul.product-description li * {
  @apply text-stone-800 text-sm;
}

ul.product-description li h4 {
  @apply text-stone-900 font-semibold;
}

form .field {
  @apply relative flex w-full;
}

form .field label {
  @apply text-stone-500 text-sm absolute top-3 mx-3 transition-all;
}

form .field input {
  @apply w-full px-3 py-2 pt-4 text-sm border border-stone-300 rounded-md shadow-sm focus:ring-stone-500 focus:border-stone-500;
}

form input:not([type=radio]) ~ label::after {
  @apply content-['*'] text-zinc-600;
}

form ul.radio-list {
  @apply flex flex-col gap-2;
}

form ul.radio-list li {
  @apply flex gap-3 border border-stone-300 rounded-lg shadow-sm w-full py-4 px-10;
}
