/* --------------------------------

File#: _2_slideshow
Title: Slideshow
Descr: Show a collection of items one at a time
Usage: codyhouse.co/license


-------------------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slideshow-height: 280px;
  --slideshow-fade-transition-duration: 0.25s;
  --slideshow-slide-transition-duration: 0.35s;
  --slideshow-prx-transition-duration: 0.5s;
  --slideshow-btn-width: 1.6em;
  --slideshow-btn-height: 3.2em;
  --slideshow-btn-icon-size: 1.6em;
  --slideshow-btn-offset: 0.5rem;
}
@media (min-width: 48rem) {
  :root {
    --slideshow-height: 380px;
  }
}
@media (min-width: 64rem) {
  :root {
    --slideshow-height: 480px;
    --slideshow-btn-offset: 0.75rem;
  }
}
@media (min-width: 80rem) {
  :root {
    --slideshow-height: 580px;
  }
}

.slideshow__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slideshow-height);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.slideshow__item:focus {
  outline: none;
}

.slideshow--ratio-16\:9 .slideshow__item {
  height: 0;
  padding-bottom: 56.25%;
}

.slideshow--ratio-4\:3 .slideshow__item {
  height: 0;
  padding-bottom: 75%;
}

.slideshow--ratio-1\:1 .slideshow__item {
  height: 0;
  padding-bottom: 100%;
}

.slideshow {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.slideshow__content {
  overflow: hidden;
}
.slideshow__item {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
}
.slideshow__item--selected {
  position: relative;
  z-index: 3;
  visibility: visible;
}

.slideshow--transition-fade .slideshow__item {
  opacity: 0;
  transition: opacity 0s var(--slideshow-fade-transition-duration), visibility 0s var(--slideshow-fade-transition-duration);
}
.slideshow--transition-fade .slideshow__item--selected {
  opacity: 1;
  transition: opacity var(--slideshow-fade-transition-duration);
}

.slideshow--transition-slide .slideshow__item {
  animation-duration: var(--slideshow-slide-transition-duration);animation-fill-mode: forwards;animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.slideshow--transition-slide .slideshow__item > * {
  visibility: hidden;
}
.slideshow--transition-slide .slideshow__item:not(.slideshow__item--selected) * {
  transition: none;
}
.slideshow--transition-slide .slideshow__item--selected > * {
  visibility: visible;
}
.slideshow--transition-slide .slideshow__item--slide-in-left {
  animation-name: slide-in-left;
}
.slideshow--transition-slide .slideshow__item--slide-in-right {
  animation-name: slide-in-right;
}
.slideshow--transition-slide .slideshow__item--slide-out-left {
  animation-name: slide-out-left;
}
.slideshow--transition-slide .slideshow__item--slide-out-right {
  animation-name: slide-out-right;
}
.slideshow--transition-slide .slideshow__item--slide-out-left,
.slideshow--transition-slide .slideshow__item--slide-out-right {
  z-index: 2;
}
.slideshow--transition-slide .slideshow__item--slide-out-left.slideshow__item--selected,
.slideshow--transition-slide .slideshow__item--slide-out-right.slideshow__item--selected {
  z-index: 3;
}
.slideshow--transition-slide .slideshow__item--slide-out-left > *,
.slideshow--transition-slide .slideshow__item--slide-out-right > * {
  visibility: visible;
}

@keyframes slide-in-left {
  0% {
    visibility: visible;
    -webkit-transform: translateX(-100%);  transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}
@keyframes slide-in-right {
  0% {
    visibility: visible;
    -webkit-transform: translateX(100%);  transform: translateX(100%);
  }
  100% {
      transform: translateX(0);
  }
}
@keyframes slide-out-left {
  0% {
    visibility: visible;
      transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);  transform: translateX(100%);
  }
}
@keyframes slide-out-right {
  0% {
    visibility: visible;
      transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);  transform: translateX(-100%);
  }
}
.slideshow--transition-prx .slideshow__item {
  animation-duration: var(--slideshow-prx-transition-duration);
  animation-fill-mode: forwards;animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.slideshow--transition-prx .slideshow__item > * {
  visibility: hidden;
}
.slideshow--transition-prx .slideshow__item--selected > * {
  visibility: visible;
}
.slideshow--transition-prx .slideshow__item--prx-in-left {
  -webkit-animation-name: prx-in-left;animation-name: prx-in-left;
}
.slideshow--transition-prx .slideshow__item--prx-in-right {
  -webkit-animation-name: prx-in-right;animation-name: prx-in-right;
}
.slideshow--transition-prx .slideshow__item--prx-out-left {
  -webkit-animation-name: prx-out-left;animation-name: prx-out-left;
}
.slideshow--transition-prx .slideshow__item--prx-out-right {
  -webkit-animation-name: prx-out-right;animation-name: prx-out-right;
}
.slideshow--transition-prx .slideshow__item--prx-out-left,
.slideshow--transition-prx .slideshow__item--prx-out-right {
  z-index: 2;
}
.slideshow--transition-prx .slideshow__item--prx-out-left.slideshow__item--selected,
.slideshow--transition-prx .slideshow__item--prx-out-right.slideshow__item--selected {
  z-index: 3;
}
.slideshow--transition-prx .slideshow__item--prx-out-left > *,
.slideshow--transition-prx .slideshow__item--prx-out-right > * {
  visibility: visible;
}

@keyframes prx-in-left {
  0% {
    visibility: visible;
    -webkit-transform: translateX(-100%);  transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}
@keyframes prx-in-right {
  0% {
    visibility: visible;
    -webkit-transform: translateX(100%);  transform: translateX(100%);
  }
  100% {
      transform: translateX(0);
  }
}
@keyframes prx-out-left {
  0% {
    opacity: 1;
    visibility: visible;
      transform: translateX(0);
  }
  100% {
    opacity: 0.3;
    -webkit-transform: translateX(40%);  transform: translateX(40%);
  }
}
@keyframes prx-out-right {
  0% {
    opacity: 1;
    visibility: visible;
      transform: translateX(0);
  }
  100% {
    opacity: 0.3;
    -webkit-transform: translateX(-40%);  transform: translateX(-40%);
  }
}
.slideshow[data-swipe=on] .slideshow__content {
  user-select: none;
}
.slideshow[data-swipe=on] .slideshow__content img {
  pointer-events: none;
}

.slideshow__control {
  display: none;
}

.slideshow[data-controls=hover] .slideshow__control {
  opacity: 0;
  transition: opacity 0.3s;
}
.slideshow[data-controls=hover]:hover .slideshow__control {
  opacity: 1;
}
.slideshow[data-swipe=on] .slideshow__control {
  display: none;
}
.slideshow__control {
  display: block;
  position: absolute;
  z-index: 4;
  top: 50%;
  transform: translateY(-50%);
}
.slideshow__control:first-of-type {
  left: var(--slideshow-btn-offset);
}
.slideshow__control:last-of-type {
  right: var(--slideshow-btn-offset);
}
@media (min-width: 64rem) {
  .slideshow[data-swipe=on] .slideshow__control {
    display: block;
  }
}

.slideshow__btn {
  display: block;
  @apply bg-gray-900/75;
  height: var(--slideshow-btn-height);
  width: var(--slideshow-btn-width);
  @apply rounded;
  cursor: pointer;
  transition: background 0.2s, -webkit-transform 0.2s;
  transition: background 0.2s, transform 0.2s;
  transition: background 0.2s, transform 0.2s, -webkit-transform 0.2s;
}
.slideshow__btn:hover {
  @apply bg-gray-900/[.85];
}
.slideshow__btn:hover .icon {
  @apply text-white;
}
.slideshow:not(.slideshow--is-animating) .slideshow__btn:active {
  transform: translateY(2px);
}
.slideshow__btn .icon {
  display: block;
  width: var(--slideshow-btn-icon-size);
  height: var(--slideshow-btn-icon-size);
  margin: 0 auto;
  transition: color 0.2s;
  @apply text-white;
}
@supports (grid-area: auto) {
  .slideshow__btn {
    background-color: transparent;
  }
  .slideshow__btn .icon {
    @apply text-gray-900;
  }
}

.slideshow__navigation {
  position: absolute;
  z-index: 4;
  bottom: 0;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.slideshow__nav-item {
  display: inline-block;
  @apply my-0 mx-1 lg:mx-1.5;
}
.slideshow__nav-item button {
  display: block;
  position: relative;
  font-size: 8px;
  @apply text-gray-700;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: currentColor;
  opacity: 0.4;
  cursor: pointer;
  transition: background 0.3s;
}
.slideshow__nav-item button::before {
  content: "";
  position: absolute;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
  height: 1em;
  width: 1em;
  font-size: 14px;
  border-radius: inherit;
  @apply border border-gray-700;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s;
}
.slideshow__nav-item button:focus {
  outline: none;
}
.slideshow__nav-item button:focus::before {
  opacity: 1;
  transform: scale(1);
}

.slideshow__nav-item--selected button {
  opacity: 1;
}

@media (min-width: 64rem) {
  .slideshow__navigation {
    height: 40px;
  }

  .slideshow__nav-item button {
    font-size: 10px;
  }
  .slideshow__nav-item button::before {
    font-size: 16px;
  }
}